<html>
<head>
<title>
AAU Push
</title>
</head>
<body bgcolor='#f9f8f0'>
<center><h1>AAU Push</h1></center>
<center><h2>{{section_name}} ({{section_code}})</h2></center>
<hr>
    <table border=0 cellpadding=20>
        <tr>
            <td valign='top'>
                <h2>{{name}}</h2>
                Last Updated: {{last_update}}
                </br></br>
                <ul>
                    {% for mat in materials %}
                        <li><a href="{% url 'file' mat.id%}">{{mat.name}}</a>: 
                        {{mat.description}} 
                        </li></br>
                    {% endfor %}
                </ul>
            </td>
        </tr>
    </table>
</body>
</html>
